<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div th:replace="fragments/search :: search"></div>
<div>
    <div>

        <div th:replace="announcement/announcementSearch :: announcementSearch('announcement/' + ${requestMapping})"></div>

        <div class="container">

            <table class="table table-hover table-sm">
                <tbody>
                <tr
                        class="table-row" style="cursor: pointer;"
                        th:data-href="@{'/announcement/read/' + ${announcement.id}}"
                        th:each="announcement, iStat : ${pages.content}">
                    <td style="width:30%">
                        <a th:href="@{'/announcement/read/' + ${announcement.id}}">
                            <img class="img-thumbnail w-100" th:if="${announcement.miniatureRepositoryName != null}"
                                 th:src="@{'/images/' + ${announcement.miniatureRepositoryName}}"></img>
                            <img class="img-thumbnail w-100" th:if="${announcement.miniatureRepositoryName == null}"
                                 th:src="@{'/images/noPhoto.png'}"></img>
                        </a>
                    </td>
                    <td>
                        <a class="row text-dark" style="text-decoration:none;"
                           th:href="@{'/announcement/read/' + ${announcement.id}}">
                            <div class="col ">
                                <h5 th:text="${announcement.vehicleModel.manufacturer.name + ' '+ announcement.vehicleModel.name}"></h5>
                                <div th:text="${announcement.productionYear + ' &bull; ' + announcement.mileage + ' km'}"></div>
                                <div th:text="${announcement.user.city + ' (' + announcement.user.province + ')' }"></div>
                            </div>
                            <div class="col text-right">
                                <h4 class="primary-red mb-0">[[${#numbers.formatDecimal({announcement.price}, 0,
                                    'COMMA', 2, 'POINT')}]] <span th:text="#{zl}"></span></h4>
                                <small class="text-secondary ">Do negocjacji</small>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/announcement/edit/' + ${announcement.id}}"
                           th:text="edycja">
                        </a>
                    </td>
                </tbody>
            </table>
            <div th:replace="fragments/pagination :: pagination('/announcement/' + ${requestMapping})"></div>
        </div>


    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });

    $(document).ready(function ($) {
        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>

</body>
</html>
