<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head th:replace="fragments/head :: head"></head>
  <body>
  <div th:replace="fragments/header :: header">
  </div>
  <div th:replace="fragments/breadcrumb :: breadcrumb">
  </div>

  <div class="container">
	  <div class="row">
		  <div class="col-12 col-md-8 slide carousel overflow-hidden d-flex" data-ride="carousel" id="vehicleGallery">
			  <div class="carousel-inner">
				  <div th:class="${row.index == 0} ? 'carousel-item active' : 'carousel-item'"
					   th:each="picture, row : ${announcement.pictures}">
					  <a class="w-100" data-gallery="car-images" data-toggle="lightbox"
						 th:href="@{'/images/' + ${announcement.pictures[__${row.index}__].repositoryName}}">
						  <img class=" m-auto overflow-hidden d-block" style=" height:350px;"
							   th:src="@{'/images/' + ${announcement.pictures[__${row.index}__].repositoryName}}"/>
					  </a>
				  </div>
			  </div>

              <a class="carousel-control-prev" data-slide="prev" href="#vehicleGallery" role="button">
                  <span aria-hidden="true" class="carousel-control-prev-icon bg-dark"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" data-slide="next" href="#vehicleGallery" role="button">
                  <span aria-hidden="true" class="carousel-control-next-icon bg-dark"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
          <div class="col-12 col-md-4">
              <div class="ml-3 ml-md-0">
                  <div class="row">
                      <h3 th:text="${announcement.vehicleModel.manufacturer.name} + ' ' + ${announcement.vehicleModel.name}"></h3>
                  </div>
                  <div class="row">
                      <td th:text="${announcement.productionYear + ' &bull; ' + announcement.mileage + ' km'}"></td>
                  </div>
                  <div class="row mt-3 primary-red">
                      <h2>[[${#numbers.formatDecimal({announcement.price}, 0, 'COMMA', 2, 'POINT')}]] <span
                              th:text="#{zl}"></span></h2>
                  </div>
                  <div class="row mt-3">
                      <div class="custom-control custom-switch">
                          <div class="d-inline-block" data-toggle="tooltip" sec:authorize="!isAuthenticated()"
                               tabindex="0"
                               th:title="#{functionAvailableAfterLogin}">
                              <input class="custom-control-input" disabled
                                     id="observeAnnouncementDisabled" type="checkbox">
                              <label class="custom-control-label" for="observeAnnouncementDisabled">Obserwuj
                                  ogloszenie</label>
                          </div>

                          <input class="custom-control-input" id="observeAnnouncement"
                                 onchange="toggleAnnouncementIsObserved(this.getAttribute('userLogin'), this.getAttribute('announcementId'), 'observeAnnouncement')"
                                 sec:authorize="isAuthenticated()"
                                 th:announcementId="${announcement.id}"
                                 th:checked="${observedAnnouncement}" th:userLogin="${#authentication.name}"
                                 type="checkbox">
                          <label class="custom-control-label" for="observeAnnouncement"
                                 sec:authorize="isAuthenticated()">Obserwuj
                              ogloszenie</label>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <button class="btn btn-primary" onclick="location.href='#messageDoSeller'" type="button">
                          Wiadomosc do sprzedajacego
                      </button>
                  </div>
                  <div class="row mt-2">
                      <button class="btn btn-primary" id="questionToSeller"
                              onclick="loadUserPhoneNumber(this.value, this.id);" th:text="#{phoneNumberToSeller}"
                              th:value="${announcement.user.id}" type="button"/>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container mt-3">
	  <div class="row">
		  <div class="col-sm text-center">
			  <h5 class="descriptionHeader" th:text="#{details}"></h5>
		  </div>
	  </div>

	  <style>
		  .table td {
			  border: none;
		  }
	  </style>

	  <div class="row">
		  <div class="col-sm">
			  <table class="table table-sm w-75">
				  <tr>
					  <td th:text="#{vehicleType}"></td>
					  <td th:text="${announcement.vehicleSubtype.vehicleType.label}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{type}"></td>
					  <td th:text="${announcement.vehicleSubtype.label}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{engineCapacity}"></td>
					  <td th:text="${announcement.engineCapacity}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{enginePower}"></td>
					  <td th:text="${announcement.enginePower}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{fuelType}"></td>
					  <td th:text="${announcement.fuelType.label}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{color}"></td>
					  <td th:text="${announcement.carColor.label}"></td>
				  <tr>
			  </table>
		  </div>
		  <div class="col-sm">
			  <table class="table table-sm w-75">
				  <tr>
					  <td th:text="#{firstOwner}"></td>
					  <td th:text="${announcement.firstOwner} ? #{yes} : #{no}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{damaged}"></td>
					  <td th:text="${announcement.damaged} ? #{yes} : #{no}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{accidents}"></td>
					  <td th:text="${announcement.accidents} ? #{yes} : #{no}"></td>
				  <tr>
				  <tr>
					  <td th:text="#{vin}"></td>
					  <td th:text="${announcement.vin}"></td>
				  <tr>
			  </table>
		  </div>
	  </div>

	  <div class="py-3">
		  <h5 class="text-center" th:text="#{description}"></h5>
		  <div th:text="${announcement.description}">
		  </div>
	  </div>


	  <div class="py-3">
		  <div class="row">
			  <div class="col-12 text-center">
				  <h6 th:text="#{otherUserAnnouncements}"></h6>
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-6 col-md-3 col-lg-2" th:each="userAnnouncement : ${otherUserAnnouncements}">
				  <a class="card d-block " style=" padding:3px; border:1px #d7d7da solid; "
					 th:href="@{'/announcement/' + ${userAnnouncement.id}}">
					  <img class="card-img-top"
						   th:src="@{'/images/' + ${userAnnouncement.pictures[0].miniatureRepositoryName}}"/>
					  <div class="card-body text-center text-black-50">
						  <h6 class="card-title "
							  th:text="${userAnnouncement.vehicleModel.manufacturer.name + userAnnouncement.vehicleModel.name}"></h6>

						  <div class="card-subtitle  mb-2">
							  <span th:text="${userAnnouncement.productionYear}"></span>
						  </div>
						  <div class="card-subtitle">
							  <div class="text-center"
								   style="text-align:right; border-top: #d7d7da 1px solid; color:#bf2505; font-weight: 500; ">
												<span style="margin-top:15px">
													[[${#numbers.formatDecimal({userAnnouncement.price}, 0, 'COMMA', 2, 'POINT')}]]<span
														th:text="#{zl}"></span>
												</span>
							  </div>
						  </div>
					  </div>
				  </a>
			  </div>
		  </div>
	  </div>


	  <div class="row">
		  <div class="col-6"
			   th:text="#{creationDate} + ' ' + ${#dates.format(announcement.creationDate, 'dd-MM-yyyy HH:mm')}"></div>
		  <div class="col-6 text-right">
			  <a data-target="#reportViolationModal" data-toggle="modal" style="cursor: pointer;"
				 th:text="#{reportViolation}"></a>
		  </div>
	  </div>


	  <div aria-hidden="true" aria-labelledby="reportViolationLabel" class="modal fade" id="reportViolationModal"
		   role="dialog" tabindex="-1">
		  <div class="modal-dialog" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h5 class="modal-title" id="reportViolationLabel" th:text="#{reportViolation}"></h5>
					  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body">
					  <form class="needs-validation">
						  <div class="form-group">
							  <label class="col-form-label" for="report-text" th:text="#{content}"></label>
							  <textarea class="form-control" id="report-text" rows="5"></textarea>
						  </div>
					  </form>
				  </div>
				  <div class="modal-footer">
					  <button class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}" type="button"></button>
					  <button class="btn btn-primary"
							  onclick="reportAnnouncement(this.getAttribute('announcementId'), document.getElementById('report-text'), document.getElementById('reportViolationModal'))"
							  th:announcementId="${announcement.id}" th:text="#{sent}"
							  type="button">
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>

  <div class="container-fluid" style="background-color:#ebebec;">
	  <div class="container py-3">
		  <div class="row ml-sm-1">
			  <div class="col-12 col-sm-6" id="messageDoSeller">
				  <div class="row">
					  <h6 th:text="#{messageToSeller}"></h6>
				  </div>
				  <div class="row">
					  <div class="form-group w-100">
						  <label class="col-form-label" for="recipient-email">E-mail:</label>
						  <input class="form-control" id="recipient-email"
								 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required type="email">
					  </div>
				  </div>
				  <div class="row">
					  <div class="form-group w-100">
						  <label class="col-form-label" for="message-text" th:text="#{mesageFromUser}"></label>
						  <textarea class="form-control" id="message-text" minlength="5" required rows="5"></textarea>
					  </div>
				  </div>
				  <div class="row float-right">
					  <div class="form-group ">
						  <button class="btn btn-primary" onclick="sentMessageToSeller(document.getElementById('recipient-email'),
								  document.getElementById('message-text'), this)" th:announcementId="${announcement.id}"
								  th:sellerEmail="${announcement.user.email}" th:text="#{sent}"
								  type="button">
						  </button>
					  </div>
				  </div>
			  </div>

			  <div class="col-12 col-sm-6">
				  <div class="card">
					  <div class="card-header">
						  <h6>O sprzedajacym</h6>
					  </div>
					  <div class="card-body">
						  <div class="row card-subtitle mb-2">
							  <span th:text="${announcement.user.firstName}"></span>
						  </div>
						  <div class="row card-subtitle mb-2">
							  <span th:text="${announcement.user.city}"></span>
						  </div>
						  <div class="row card-subtitle mb-2" th:if="${announcement.user.province != null}"
							   th:text="#{__${announcement.user.province}__}">
						  </div>
						  <div class="row card-subtitle mb-2">
							  <span th:text="'posiada konto od ' + ${#dates.format(announcement.user.creationDate, 'dd-MM-yyyy')}"></span>
						  </div>
						  <div class="row mb-2">
							  <button class="btn btn-primary" id="questionToSellerInBottom"
									  onclick="loadUserPhoneNumber(this.value, this.id);"
									  th:text="#{phoneNumberToSeller}"
									  th:value="${announcement.user.id}" type="button"/>
						  </div>
					  </div>
				  </div>
			  </div>


		  </div>
				</div>
			</div>


  <!--  wyswietlic title gdzies -->
			
			
			<!-- wiecej aukcji tego uzytkownika  to w jedenj linik -->

  <!-- w przyszlosci dorobienie wyposoazenia -->

  <!-- wyslij wiasdomosc do zyzytkownika i wyswietlenie danych uzytkownika -->

  <input type="hidden" id="announcementId" th:value="${announcement.id}"/>

  </div>


  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">


	  $('.carousel').carousel({
		  interval: 5000
	  });

	  $(document).on('click', '[data-toggle="lightbox"]', function (event) {
		  event.preventDefault();
		  $(this).ekkoLightbox();
	  });


  </script>


  </body>
</html>
