<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head th:replace="fragments/head :: head"></head>
  <body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/search :: search">
    </div>
    <div class="announcement-edit-form" style=" margin-top:15px; text-align:center;  margin:auto; ">
		
		  
		<style>
				label {
					cursor: pointer;
					font-size: 14px;
					
				}
		
				input[type="radio"]{
					  visibility: hidden;
					  height: 0;
					  width: 0;
					}
					
				input[type="radio"]:checked + label{
					  text-decoration: underline;
					}
					
				
				.wrapper {
				  height: 200px;
				  width: 632px;
				  position: relative;
				  overflow: hidden;
				  margin: 0 auto;
				}
				
				.button-wrapper {
				  width: 100%;
				  height: 100%;
				  display: flex;
				  justify-content: space-between;
				  align-items: center;
				  position: absolute;
				}
				
				.carousel {
				  margin: 0;
				  padding: 0;
				  list-style: none;
				  width: 100%;
				  display: flex;
				  position: absolute;
				  left: 0;
				  transition: all 1s ease;
				}
				
				.card {
				  background: black;
				  min-width: 200px;
				  height: 200px;
				  margin-right: 1rem;
				  display: inline-block;
				}
				
				.carDetails,
				.carDescription {
				font-size: 14px;
				}
				
				.descriptionHeader {
					font-size: 16px;
					font-weight: bold;
					margin-top:10px;
					margin-bottom:10px;
					
				}
				
				
		</style> 
		
		 	<div th:replace="announcement/announcementHeader :: announcementHeader(${announcement})"></div> 
			<div th:replace="announcement/announcementImageGallery :: announcementImageGallery(${announcement}, false)"></div>
			
			<div class="descriptionHeader" th:text="#{details}"></div>
			<div class="carDetails" style="display: inline-block; align-self: flex-start;   ">
				<div>
					<table style="text-align:left;">
				 		<tr>
							<td th:text="#{vehicleType}"></td>
							<td th:text="${announcement.vehicleSubtype.vehicleType.label}"></td>
						<tr> 
						<tr>
							<td th:text="#{type}"></td>
							<td th:text="${announcement.vehicleSubtype.label}"></td>
						<tr>
						<tr>
							<td th:text="#{manufacturer}"></td>
							<td th:text="${announcement.vehicleModel.manufacturer.name}"></td>
						<tr>
						<tr>
							<td th:text="#{vehicleModelName}"></td>
							<td th:text="${announcement.vehicleModel.name}"></td>
						<tr>
						<tr>
							<td th:text="#{productionYear}"></td>
							<td th:text="${announcement.productionYear}"></td>
						<tr>
						<tr>
							<td th:text="#{mileage}"></td>
							<td th:text="${announcement.mileage + ' km'}"></td>
						<tr>
						<tr>
							<td th:text="#{engineCapacity}"></td>
							<td th:text="${announcement.engineCapacity}"></td>
						<tr>
						<tr>
							<td th:text="#{enginePower}"></td>
							<td th:text="${announcement.enginePower}"></td>
						<tr>
						<tr>
							<td th:text="#{fuelType}"></td>
							<td th:text="${announcement.fuelType.label}"></td>
						<tr>
						<tr>
							<td th:text="#{color}"></td>
							<td th:text="${announcement.carColor.label}"></td>
						<tr>
					</table>
					
					
					<table style="text-align:left; vertical-align:bottom">
						<tr>
							<td th:text="#{firstOwner}"></td>
							<td th:text="${announcement.firstOwner} ? #{yes} : #{no}"></td>
						<tr>
						<tr>
							<td th:text="#{damaged}"></td>
							<td th:text="${announcement.damaged} ? #{yes} : #{no}"></td>
						<tr>
						<tr>
							<td th:text="#{accidents}"></td>
							<td th:text="${announcement.accidents} ? #{yes} : #{no}"></td>
						<tr>
						<tr>
							<td th:text="#{vin}"></td>
							<td th:text="${announcement.vin}"></td>
						<tr>
					</table>
				</div>
			</div>
			
			<div class="carDescription" style="margin:auto;   width:600px; margin-bottom:30px;">
				<div  class="descriptionHeader" th:text="#{description}"></div>
				<div  style="text-align: left !important; white-space: pre-wrap;  width:600px; overflow:hidden"  th:utext="${announcement.description}" >
				</div>
			</div>
			
			<div style="margin-top:10px; ">
			 	<table>
					<tr>
						<td th:each="userAnnouncement : ${otherUserAnnouncements}" >
							<a th:href="@{'/announcement/read/' + ${userAnnouncement.id}}" style="font-size: 12px; padding:3px; border:1px #d7d7da solid; display:block; ">
								 <img  th:src="@{'/images/' + ${userAnnouncement.pictures[0].miniatureRepositoryName}}" width="110" style="height:80px; overflow: hidden;" />
								<table style="width: 100%; color:black;">
									<tr>
										<td colspan="2" th:text="${userAnnouncement.vehicleModel.manufacturer.name + userAnnouncement.vehicleModel.name}"></td>
									</tr>
									<tr style="font-size:10px;  ">
										<td style="text-align:left; padding:5px " th:text="${userAnnouncement.productionYear}"></td>
										<td style="text-align:right;"th:text="${userAnnouncement.mileage + ' km'}"></td>
									</tr>
									<tr>
										<td colspan="2" style="text-align:right; border-top: #d7d7da  1px solid; color:#bf2505; font-size: 14px; font-weight: 500; ">
											<span  th:text="${userAnnouncement.price} + ' ' + #{zl}" style="margin-top:15px"></span>
										</td>
									</tr>
								</table>
							</a>
						</td>
					</tr>				
				</table> 
			</div>
			
			<div id="creationDate" style="display: grid;   grid-template-columns: 1fr 1fr;">
			    <span  th:text="#{creationDate} + ' ' + ${#dates.format(announcement.creationDate, 'dd-MM-yyyy HH:mm')}" ></span>  
			    <span style="text-align:right;">
			    	<span  onclick="$('#reportAnnouncementPopup').css('visibility','visible'); showPopupBacground();" style="cursor: pointer;"  th:text="#{reportViolation}"></span> 
				</span>
			</div> 
			
			
			<div id="reportAnnouncementPopup" class="popup" style="visibility: hidden;"  >
				  <div>
				  		<table>
				  			<tr style="line-height:35px;">
				  				<td colspan="2" th:text="#{reportAnnouncementTitle}"></td>
				  			</tr>
				  			<tr>
				  				<td><label for="reporterEmailAddress">Email</label></td>
				  				<td><input type="email" id="reporterEmailAddress" /></td>
				  			</tr>
				  			<tr>
				  				<td><label th:text="#{reportText}" for="reportText"></label></td>
				  				<td><textarea id="reportText" maxlength="1000" rows="4" cols="50" minlength="4" required ></textarea></td>
				  			</tr>
				  			<tr>
				  				<td class="popupButtons" colspan="2">
				  				 <input type="button" th:value="#{cancel}" onclick="document.getElementById('reportAnnouncementPopup').style.visibility = 'hidden';
				  				   hidePopupBacground();" style="margin-top:10px;"/>
						      <input type="button" th:value="#{sent}" onclick="validateEmailAndReportTextInAnnouncementReport() ?   reportAnnouncment($('#announcementId').val(),$('#reportText').val(),$('#reporterEmailAddress').val()) : '' " style="margin-top:10px;"/>
				  				</td>
				  			</tr>
				  		
				  		</table>
				   </div>
			</div>
			
			
			<div style="background-color:#ebebec;">
				<div class="sellerDetails" style="display: inline-block; align-self: flex-start;   margin-top:15px; ">
					<div class="block">
						<table id="messageToSenderTable" style="text-align:left;">
							<tr>
								<td colspan="2" style="text-align:left; padding-top:0px; width:380px; padding-bottom:10px; font-weight: 550;">Wyslij wiadomosc do sprzedajacego</td>
							<tr>
							<tr>
								<td style=""><label for="questionToSellerEmail">E-mail</label></td>
								<td><input id="questionToSellerEmail" type="email" style="width:100%;"/></td>
							<tr>
							<tr>
								<td><label for="questionToSellerText">Tresc</label></td>
								<td><textarea id="questionToSellerText" rows="6" style="width:100%; resize: none;" maxlength="1000" ></textarea></td>
							<tr>
							<tr>
								<td></td>
								<td style="text-align:right;">
									<input type="button" style="position:relative; left:10px;" th:value="#{sent}" onclick="validateEmailAddressAndTextBeforeSend($('#questionToSellerEmail'),$('#questionToSellerText')) ?   sentMessageToSeller($('#announcementId').val(),$('#questionToSellerEmail').val(),$('#questionToSellerText').val(), $('#sellerEmail').val()) : '' "/>
									<input type="hidden" id="sellerEmail" th:value="${announcement.user.email}" />
								</td>
							<tr>
						</table>
						
						
						<div>
							<div id="aboutSeller" style="background-color:white; width:300px; text-align:left; margin:auto;">
								<div style="background-color:#ebebec; font-weight: 550; padding-bottom:10px;">
									O sprzedajacym
								</div>
								<div  style="border-bottom: solid 1px #d7d7da;"  th:text="${announcement.user.firstName + ' ' + announcement.user.lastName}">
								</div>
								<div  th:text="'posiada konto od ' + ${#dates.format(announcement.user.creationDate, 'dd-MM-yyyy')}">
								</div>
								<div th:text="${announcement.user.city}">
								</div>
								<div th:if="${announcement.user.province != null}" th:text="#{__${announcement.user.province}__}">
								</div>
								<div th:if="${announcement.user.phoneNumber != null}" th:text="#{__${announcement.user.phoneNumber}__}">
								</div>
							</div> 
						</div> 
					</div>
				</div>
			</div>
			
			<!--  wyswietlic title gdzies -->
			
			
			<!-- wiecej aukcji tego uzytkownika  to w jedenj linik -->
			
			<!-- w przyszlosci dorobienie wyposoazenia -->
			
			<!-- wyslij wiasdomosc do zyzytkownika i wyswietlenie danych uzytkownika -->
			
			 <input type="hidden" id="announcementId" th:value="${announcement.id}" />
		
    </div>
     <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>