<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>
<div>
    <div>

        <div th:replace="announcement/announcementSearch :: announcementSearch('announcement/' + ${requestMapping})"></div>

        <div class="container">

            <div class="table table-hover table-sm">
                <div class="table-row row my-3 " style="cursor: pointer;"
                     th:data-href="@{'/announcement/' + ${announcement.id}}"
                     th:each="announcement, iStat : ${pages.content}">
                    <div class="overflow-hidden col-6 col-md-4 " style="">
                        <a class="overflow-hidden " style="object-fit:cover;"
                           th:href="@{'/announcement/' + ${announcement.id}}">
                            <img class="img-thumbnail w-100 overflow-hidden d-block" style="height: 210px;"
                                 th:if="${announcement.miniatureRepositoryName != null}"
                                 th:src="@{'/images/' + ${announcement.miniatureRepositoryName}}"></img>
                            <img class="img-thumbnail  w-100 overflow-hidden d-block" style="height: 210px;"
                                 th:if="${announcement.miniatureRepositoryName == null}"
                                 th:src="@{'/images/noPhoto.png'}"></img>
                        </a>
                    </div>
                    <div class="col">
                        <a class="row text-dark" style="text-decoration:none;"
                           th:href="@{'/announcement/' + ${announcement.id}}">
                            <div class="col-12 col-md-6 text-right order-md-2">
                                <h4 class="primary-red mb-0">[[${#numbers.formatDecimal({announcement.price}, 0,
                                    'COMMA', 2, 'POINT')}]] <span th:text="#{zl}"></span></h4>
                                <small class="text-secondary ">To negotiate</small>
                            </div>
                            <div class="col-12 col-md-6  order-md-1">
                                <h5 th:text="${announcement.vehicleModel.manufacturer.name + ' '+ announcement.vehicleModel.name}"></h5>
                                <div th:text="${announcement.productionYear + ' &bull; ' + announcement.mileage + ' km'}"></div>
                                <div th:text="${announcement.user.city + ' (' + announcement.user.province + ')' }"></div>
                            </div>
                        </a>
                    </div>
                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')') || #authentication.name == announcement.user.login}">
                        <a th:href="@{'/announcement/edit/' + ${announcement.id}}"
                           th:text="edit">
                        </a>
                    </div>
                </div>
            <div th:replace="fragments/pagination :: pagination('/announcement/' + ${requestMapping})"></div>
        </div>


    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });

    $(document).ready(function ($) {
        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>

</body>
</html>
