<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head th:replace="fragments/head :: head"></head>
  <body>
  <div th:replace="fragments/header :: header">
  </div>
  <div th:replace="fragments/search :: search">
  </div>
  <div class="container">

      <form class="needs-validation" method="post" th:action="@{/announcement/save}" th:object="${announcement}">

          <div class="m-auto">
              <div class="row">
                  <div class="col-12 text-right">
                      <a class="btn btn-primary" th:href="@{/announcement/list}" th:text="#{cancel}"></a>
                      <button class="btn btn-primary" th:text="#{save}" type="submit"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">

                      <label for="vehicleType">Kategoria pojazdu</label><br/>
                      <select class="selectpicker w-100" id="vehicleType"
                              onchange="clearVehicleModel(); loadManufacturer(this.value, 'option'); loadVehicleSubtypes(this.value, 'option')"
                              required
                              th:field="*{vehicleType}">
                          <option th:each="vehicleTypeElement : ${T(com.app.enums.VehicleType).values()}"
                                  th:selected="*{vehicleType}" th:text="${vehicleTypeElement.label}"
                                  th:value="${vehicleTypeElement}"></option>
                      </select>


                      <span class="validationError" th:each="error: ${#fields.errors('vehicleType')}"
                            th:text="${error}">
								</span>
                      <input th:field="*{id}" type="hidden"/>
                      <input th:field="*{user}" type="hidden"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="manufacturer">Marka</label><br/>
                      <select class="selectpicker w-100" id="manufacturer"
                              onchange="loadVehicleModel(this.value, $('#vehicleType').val(), 'option');"
                              required
                              th:field="*{manufacturerId}">
                          <option th:each="manufacturer : ${manufacturerList}" th:selected="*{manufacturerId}"
                                  th:text="${manufacturer.name}" th:value="${manufacturer.id}">
                          </option>
                      </select>
                  </div>
                  <div class="form-group col-6">
                      <label for="vehicleModel">Model pojazdu</label><br/>
                      <select class="selectpicker  w-100" id="vehicleModel" required th:field="*{vehicleModel}">
                          <option th:each="element : ${vehicleModelList}" th:selected="*{vehicleModel.id}"
                                  th:text="${element.name}" th:value="${element.id}"></option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-4">
                      <label for="productionYear">Rok produkcji</label><br/>
                      <select class="form-control" id="productionYear" required th:field="*{productionYear}">
                          <option
                                  th:each="productionYears : ${#numbers.sequence(#dates.year(#dates.createNow()), 1900 )}"
                                  th:selected="*{productionYear}" th:text="${productionYears}"
                                  th:value="${productionYears}">
                          </option>
                      </select>
                      <span class="validationError" th:each="error: ${#fields.errors('productionYear')}"
                            th:text="${error}"></span>
                  </div>
                  <div class="form-group col-4">
                      <label for="mileage">Przebieg</label><br/>
                      <input class="form-control" id="mileage" maxlength="9" pattern="[0-9]*" required size="9"
                             th:field="*{mileage}"
                             th:title="#{numberOnly}" type="text"/>
                      <span class="validationError" th:each="error: ${#fields.errors('mileage')}"
                            th:text="${error}"></span>
                  </div>
                  <div class="form-group col-4">
                      <label for="vin">VIN</label><br/>
                      <input class="form-control" id="vin" maxlength="20" size="20" th:field="*{vin}" type="text"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-12" style="padding-top: 10px;">
                      <label>Rodzaj paliwa</label>
                      <span th:each="fuelTypeElement : ${T(com.app.enums.FuelType).values()}">
								<input th:field="*{fuelType}" th:id="${fuelTypeElement}" th:value="${fuelTypeElement}"
                                       type="radio"/>
								<label class="btn btn-secondary" th:for="${fuelTypeElement}"
                                       th:text="${fuelTypeElement.label}"></label>
							</span>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6 ">
                      <label for="price">Cena</label>
                      <div class="input-group w-100">
                          <input class="form-control w-75" id="price" maxlength="12" pattern="^\d+(\.\d+)*$" required
                                 size="12" th:field="*{price}"
                                 th:title="#{numberOnly}" type="text"/>
                          <select class="selectpicker w-25" th:field="*{currency}">
                              <option th:each="currencyItem : ${T(com.app.enums.Currency).values()}"
                                      th:selected="*{currency}"
                                      th:text="${currencyItem}"
                                      th:value="${currencyItem}">
                              </option>
                          </select>
                      </div>
                      <span class="validationError" th:each="error: ${#fields.errors('price')}"
                            th:text="${error}"></span>
                  </div>
                  <div class="col-3">
                      <br/><br/>
                      <input id="netPrice" th:field="*{netPrice}" type="checkbox"/>
                      <label for="netPrice">Cena netto</label>
                  </div>
                  <div class="col-3">
                      <br/><br/>
                      <input id="priceNegotiate" th:field="*{priceNegotiate}" type="checkbox"/>
                      <label for="priceNegotiate">Do negocjacji</label>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="vehicleSubtype">typ</label><br/>
                      <select class="selectpicker w-100" id="vehicleSubtype" required th:field="*{vehicleSubtype}">
                          <option th:each="element : ${vehicleSubtypeList}" th:selected="*{vehicleSubtype}"
                                  th:text="${element.label}" th:value="${element}"></option>
                      </select>
                  </div>
                  <div class="form-group col-6">
                      <label for="carColor">kolor</label><br/>
                      <select class="form-control" id="carColor" th:field="*{carColor}">
                          <option th:each="color : ${T(com.app.enums.CarColor).values()}"
                                  th:selected="*{carColor}"
                                  th:text="${color.label}"
                                  th:value="${color}">
                          </option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label th:for="enginePower" th:text="#{enginePower}"></label><br/>
                      <input class="form-control" id="enginePower" maxlength="9" pattern="[0-9]*" size="9"
                             th:field="*{enginePower}"
                             th:title="#{numberOnly}" type="text"/>
                      <span class="validationError" th:each="error: ${#fields.errors('enginePower')}"
                            th:text="${error}"></span>
                  </div>
                  <div class="form-group col-6">
                      <label th:for="engineCapacity" th:text="#{engineCapacity}"></label><br/>
                      <input class="form-control" id="engineCapacity" maxlength="6" pattern="[0-9]*" size="9"
                             th:field="*{engineCapacity}"
                             th:title="#{numberOnly}" type="text"/>
                      <span class="validationError" th:each="error: ${#fields.errors('engineCapacity')}"
                            th:text="${error}"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-4 form-group">
                      <input id="accidents" th:field="*{accidents}" type="checkbox"/>
                      <label th:for="accidents" th:text="#{accidents}"></label>
                  </div>
                  <div class="col-4 form-group">
                      <input id="firstOwner" th:field="*{firstOwner}" type="checkbox"/>
                      <label th:for="firstOwner" th:text="#{firstOwner}"></label>
                  </div>
                  <div class="col-4 form-group">
                      <input id="damaged" th:field="*{damaged}" type="checkbox"/>
                      <label th:for="damaged" th:text="#{damaged}"></label>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-12">
                      <label for="title">Tytuł</label><br/>
                      <input class="w-100 form-control" id="title" maxlength="200" required size="9" th:field="*{title}"
                             type="text"/>
                      <span class="validationError" th:each="error: ${#fields.errors('title')}"
                            th:text="${error}"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <label for="description">Opis</label><br/>
                      <textarea class="w-100" id="description" maxlength="3000" rows="5" th:field="*{description}">
							</textarea>
                  </div>
              </div>
          </div>

          <div th:replace="announcement/announcementImageGallery :: announcementImageGallery(${announcement}, true)"></div>

      </form>

  </div>
  <div th:replace="fragments/footer :: footer"></div>

  <script>
      $(document).ready(function () {
          $("#upload-file-input").on("change", uploadFile);
      });

      let editor = new Jodit('#description', {
      });
  </script>
  </body>
</html>
