<div th:fragment="dropDownFromTo(elementName,field,label,dropDownList, elementFrom, elementTo, unit, clearButton)" style="display:inline-block; width:135px;" >
<input type="text" th:id="${elementName}" th:placeholder="${label}" style="padding-right:20px"
	class="rangeInput"
	th:from="${elementFrom}"
	th:to="${elementTo}"
	th:unit="${unit}"
	onchange="validateRange($(this.getAttribute('from')),$(this.getAttribute('to')),this);"
	th:field="*{__${field}__}" />
	<span th:text="${unit}" style="margin-left:-25px; width:13px; display: inline-block;"></span>

 <ul class="rangeDropDown">
	 <li class="" th:each="element : ${dropDownList}"
		 th:text="${element}"
		 th:class="*{__${field}__} != null and ${#strings.concat(#strings.replace(element,' ',',') + ' ' + unit)} == *{__${field}__} ? 'selected' : '' "></li>
 </ul> 
 <button th:if="${clearButton}" style="margin-left:5px;"  type="button" class="announcementClearButton" onclick=" $(this).parent().parent().find('.rangeInput').val('');
	 $(this).parent().parent().find('.rangeDropDown li').removeClass('selected');">X</button>	 
</div>

