<span th:fragment="dropDownBoolean(elementName,field,label)" xmlns:th="http://www.w3.org/1999/xhtml">

	 <label th:for="${elementName}" th:text="${label}" style="display:block;"></label> 
	 <input type="text" th:id="${elementName} + Label" th:dropDownElementId="${elementName}" style="cursor: pointer;"
		readonly="readonly"
		class="inputAsSelect labelInAnnouncementSearch rewriteTextToHiddenInputOnKeyDown"
		th:value="*{__${field}__ != null ? __${field}__.label : ''}"
		onfocusin="clearInputAndFireTrigger(this);"/>
		
	<input type="hidden" th:id="${elementName}" th:field="*{__${field}__}">
		
 	<ul class="valuesDropDown" id="${elementName}">
		<li th:each="element : ${booleanValues}"
			th:text="${element.label}"
			th:class="*{__${field}__} != null and ${element} == *{__${field}__} ? 'selected' : '' "
			th:value="${element}">
		</li>
	</ul> 
</span>
