<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>

<div class="container">

    <div class="text-center">
        <h5 th:if="${user.id} != null" th:text="#{userEdit}"></h5>
        <h5 th:if="${user.id} == null" th:text="#{createUser}"></h5>
    </div>

    <form class="needs-validation col-12 col-md-8 col-lg-6 m-auto" method="post"
          th:action="@{ __${user.id}__ == null ? '/user/register' : '/user/update'}" th:object="${user}">

        <div class="form-group" th:if="*{id} != null">
            <input class="form-control" id="login" readOnly="readOnly" th:field="*{login}" type="text"/>
        </div>
        <div class="form-group" th:if="*{id} == null">
            <input id="login" onchange="checkLoginAlreadyExists(this);" placeholder="login" required
                   th:class="${#fields.hasErrors('login')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{login}" type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('login')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group" th:if="*{id} != null">
            <input class="form-control" id="email" readOnly="readOnly" th:field="*{email}" th:placeholder="#{email}"
                   type="email"/>
        </div>
        <div class="form-group" th:if="*{id} == null">
            <input id="email" required
                   th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{email}" th:placeholder="#{email}" type="email"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('email')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group" th:if="*{id} == null">
            <input id="password" required
                   th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{password}" th:placeholder="#{password}"
                   type="password"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('password')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group" th:if="*{id} == null">
            <input id="passwordConfirm" required
                   th:class="${#fields.hasErrors('passwordConfirm')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{passwordConfirm}" th:placeholder="#{passwordConfirm}"
                   type="password"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('passwordConfirm')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div>
            <div class="blankTableRow"></div>
        </div>
        <div class="form-group">
            <input id="firstName"
                   th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{firstName}" th:placeholder="#{firstName}"
                   type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('firstName')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="lastName"
                   th:class="${#fields.hasErrors('lastName')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{lastName}" th:placeholder="#{lastName}" type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('lastName')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="phoneNumber"
                   th:class="${#fields.hasErrors('phoneNumber')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{phoneNumber}" th:placeholder="#{phoneNumber}"
                   type="number"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('phoneNumber')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="street" th:class="${#fields.hasErrors('street')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{street}" th:placeholder="#{street}" type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('street')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="zipCode" pattern="[0-9]{2}\-[0-9]{3}"
                   th:class="${#fields.hasErrors('zipCode')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{zipCode}" th:placeholder="#{zipCode}"
                   type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('zipCode')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="city" th:class="${#fields.hasErrors('city')} ? 'form-control is-invalid' : 'form-control'"
                   th:field="*{city}" th:placeholder="#{city}" type="text"/>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('city')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <select id="province"
                    th:class="${#fields.hasErrors('province')} ? 'form-control is-invalid' : 'form-control'"
                    th:field="*{province}" th:placeholder="#{province}">
                <option th:each="province : ${T(com.app.common.enums.Province).values()}"
                        th:selected="*{province}"
                        th:text="#{__${province}__}"
                        th:value="${province}">
                </option>
            </select>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('province')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-check mb-3" sec:authorize="hasRole('ADMIN')">
            <input class="form-check-input" id="active" th:field="*{active}" type="checkbox"/>
            <label class="form-check-label" for="active" th:text="#{active}"></label>

            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('active')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="d-none" sec:authorize="hasRole('USER') || !isAuthenticated()">
            <input class="form-check-input" id="active" th:field="*{active}" type="checkbox"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" cols="40" id="description" rows="4" th:field="*{description}"
                      th:placeholder="#{description}">
            </textarea>
            <div class="invalid-feedback">
                <div th:each="error: ${#fields.errors('description')}" th:text="#{__${error}__}"></div>
            </div>
        </div>
        <div class="form-group">
            <input id="userId" th:field="*{id}" type="hidden"/>
        </div>
        <div class="form-group text-right">
            <a class="btn btn-primary" th:href="@{/}" th:text="#{cancel}"></a>
            <a class="btn btn-primary text-white" th:if="${user.id} != null"
               onclick="if(confirm('are you sure ?')){ document.getElementById('deleteUser').click(); }"
               th:text="#{delete}"></a>
            <a class="d-none" id="deleteUser" th:href="@{'/user/delete/' + ${id}}"></a>
            <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')" th:href="@{'/user/changePass/' + ${id}}"
               th:if="${user.id} != null"
               th:text="#{changePass}"></a>
            <input class="btn btn-primary" th:value="#{save}" type="submit"/></td>
        </div>
        <div>
            <input id="returnPage" name="returnPage" th:value="${returnPage}"
                   type="hidden"/>
        </div>

    </form>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
