<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div style="background-color: #2e3968;">
    <div class="container text-center text-white" style="height: 200px;">
        <br/><br/>
        <h6 th:text="#{registrationSuccessMessageTitle}"></h6>
        <h6 th:if="${!withoutActivation}" th:text="#{registrationSuccessMessage}"></h6>
        <a class="btn btn-primary mt-4" th:href="@{/}" th:text="#{goToMainSite}"></a>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
