<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div th:replace="fragments/search :: search">
</div>
<div class="container">

    <div class="text-center">
        <h5 th:text="#{loginIntoSystem}"></h5>
    </div>


    <form method="post" sec:authorize="!isAuthenticated()" th:action="@{/user/login}" th:object="${user}">
        <div class="col-12 col-md-6 col-lg-4 m-auto ">
            <div class="form-group">
                <label for="login">login</label>
                <input class="form-control" id="login" size="30" th:field="*{login}" type="text"/>
            </div>
            <div class="form-group">
                <label for="password" th:text="#{password}"></label>
                <input class="form-control" id="password" size="30" th:field="*{password}" type="password"/>
            </div>
            <div class="form-group text-right">
                <a class="btn btn-secondary" th:href="@{/user/register}" th:text="#{createAccount}"></a>
                <a class="btn btn-primary" th:href="@{/}" th:text="#{cancel}"></a>
                <input class="btn btn-primary" th:value="#{logIn}" type="submit"/>
            </div>
            <div class="form-group f">
                <p th:each="e : ${#fields.detailedErrors()}">
                    <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                    <span th:text="${e.message}">The error message</span>
                </p>

            </div>
        </div>
    </form>

    <div class="m-auto text-center" sec:authorize="isAuthenticated()" style="height: 200px;">
        <a class="btn btn-primary" th:href="@{/logout}" th:text="#{logout}">
        </a>
    </div>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
