<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/breadcrumb :: breadcrumb"></div>
<div class="container">
    <div class="text-center">
        <h5 th:text="#{userList}"></h5>
    </div>

    <form method="get" th:object="${user}">
        <table class="m-auto">
            <tr>
                <td><label for="firstName" th:text="#{firstName}"></label></td>
                <td><input id="firstName" th:field="*{firstName}" type="text"></td>
                <td><label for="lastName" th:text="#{lastName}"></label></td>
                <td><input id="lastName" th:field="*{lastName}" type="text"></td>
            </tr>
            <tr>
                <td><label for="login" th:text="#{login}"></label></td>
                <td><input id="login" th:field="*{login}" type="text"></td>
                <td><label for="email" th:text="#{email}"></label></td>
                <td><input id="email" th:field="*{email}" type="text"></td>
            </tr>
            <tr>
                <td><label for="city" th:text="#{city}"></label></td>
                <td><input id="city" th:field="*{city}" type="text"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:left; ">
                    <input id="isUsersActive" name="active" th:field="*{active}" type="checkbox"/>
                    <label for="isUsersActive" th:text="#{onlyActiveUsers}"></label>
                </td>
            </tr>
            <tr style="text-align: right;">
                <td colspan="8">
                    <button class="btn btn-primary" th:text="#{search}" type="submit"/>
                </td>
            <tr>
            </tr>
        </table>
        <input name="size" th:value="${size}" type="hidden">
    </form>

    <div class="mb-2 text-right">
        <a class="btn btn-primary" th:href="@{/user/createUserByAdmin}" th:text="#{createUserShort}"></a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th><a
                    th:href="@{/user/list/(page=${page}, size=${size},orderBy=login,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
                    th:text="#{login}"></a></th>
            <th><a
                    th:href="@{/user/list/(page=${page}, size=${size},orderBy=email,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
                    th:text="#{email}"></a></th>
            <th><a
                    th:href="@{/user/list/(page=${page}, size=${size},orderBy=firstName,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
							th:text="#{firstName}"></a></th>
						<th><a
							th:href="@{/user/list/(page=${page}, size=${size},orderBy=lastName,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
							th:text="#{lastName}"></a></th>
						<th><a
							th:href="@{/user/list/(page=${page}, size=${size},orderBy=city,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
							th:text="#{city}"></a></th>
						<th><a
							th:href="@{/user/list/(page=${page}, size=${phoneNumber},orderBy=city,sort=${sort == 'DESC' ? 'ASC' : 'DESC'})}+${searchArguments}"
							th:text="#{phoneNumber}"></a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user, iStat : ${pages.content}">
						<td th:text="${user.login}" />
						<td th:text="${user.email}" />
						<td th:text="${user.firstName}" />
						<td th:text="${user.lastName}" />
						<td th:text="${user.city}" />
						<td th:text="${user.phoneNumber}" />
						<td>
							<a th:href="@{'/user/edit/' + ${user.id}}"
							th:text="edit">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination('/user/list')"></div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
