<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
  <body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/search :: search">
    </div>
    <div class="registration-login-form">
    		<p>
    			Logowanie do systemu
    		</p>
    
			<form class="userRegistrationForm" th:action="@{/user/login}" th:object="${user}" method="post">
         				 
         	<p th:if="${errorMessge != null}" style="color:#bf2505; font-weight: bold;"
         				 th:text="${errorMessge}">Validation error</p>
		
			<table style="text-align:left; margin: auto; margin-top:20px; ">
				<tr>
					<td><label for="login">login</label></td>
					<td><input id="login" type="text" th:field="*{login}" size="30" /></td>
				</tr>
							<tr>
				<td><label for="password">hasło</label></td>
				<td><input id="password" type="password" th:field="*{password}"
					size="30" /></td>
			</tr>
				<tr>
					<td></td>
					<td  style="text-align: right;"><a class="remove-link-decoration" style="color:black;" th:href="@{/}">anuluj</a><input style="margin-left:10px;" type="submit" value="zaloguj" /></td>
					<td></td>
				</tr>
				<tr>
			 	<td>
					     <p th:each="e : ${#fields.detailedErrors()}" >
		            	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
					            <span th:text="${e.message}">The error message</span>
		      	 	 </p>
		      	 	 </td>
				</tr>  
			</table>
		
		</form>
		
		<p>
			<a th:href="@{/user/registration}">załóż konto</a>
		</p>
    </div>
     <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>