<nav class="navbar navbar-expand-md nav  bg-light navbar-light sticky-top " th:fragment="header">
	<div class="container">
		<button class="navbar-toggler" data-target="#navbarContainer" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand  mx-auto  " th:href="@{/}">OTTOMOTO</a>
		<div class="collapse navbar-collapse mx-auto justify-content-end" id="navbarContainer">
			<div class="navbar-nav nav">
				<a class="nav-link nav-item" sec:authorize="!isAuthenticated()" th:href="@{/user/login}">
					Log in
				</a>
				<a class="nav-link nav-item" sec:authorize="!isAuthenticated()" th:href="@{/user/register}">
					Sign up
				</a>
				<div data-toggle="tooltip" sec:authorize="!isAuthenticated()" th:title="#{functionAvailableAfterLogin}">
					<a class="nav-link nav-item disabled" th:href="@{/announcement/create}">
						Add advertisement
					</a>
				</div>
				<a class="nav-link nav-item" sec:authorize="isAuthenticated()" th:href="@{/announcement/create}">
					Add advertisement
				</a>
				<div data-toggle="tooltip" sec:authorize="!isAuthenticated()" th:title="#{functionAvailableAfterLogin}">
                    <a class="nav-link nav-item disabled" th:href="@{/user/account}">
                        My account
                    </a>
                </div>
                <a class="nav-link nav-item" sec:authorize="isAuthenticated()" th:href="@{/user/account}">
					My account
                </a>
                <a class="nav-link nav-item" sec:authorize="hasRole('USER')" th:href="@{/announcement/create}">
					Add advertisement
                </a>
                <a class="nav-link nav-item" sec:authorize="hasRole('ADMIN')" th:href="@{/system/home}">
					Administration panel
                </a>
                <a class="nav-link nav-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                    Log out
                </a>
            </div>
		</div>

		<div class="popup" id="informationPopup">
			<div class="position-fixed" id="infoText" style="left: 50%;  top:0px; display: none; ">
				<div style="position: relative; left: -50%; color:white; padding:12px; background-color: #bf2505; border-radius:5px;">
				</div>
			</div>
			<div class="position-fixed" id="infoTextFromMvc" style="left: 50%;  top:0px;" th:if="${message != null}">
				<div style="position: relative; left: -50%; color:white; padding:12px; background-color: #bf2505; border-radius:5px;"
					 th:text="#{__${message}__}">
				</div>
			</div>
		</div>
	</div>
</nav>



