<head th:fragment="header">
   		<meta charset="utf-8">
  		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  		<link rel="stylesheet" type="text/css" th:href="@{/css/jodit.min.css}"/>
  		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  		<script type="text/javascript" th:src="@{/js/jodit.min.js}"></script>
  		<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
  		<script type="text/javascript" th:src="@{/js/searchForm.js}"></script>
  		<script type="text/javascript" th:src="@{/js/sendEmails.js}"></script>
  		<script type="text/javascript" th:src="@{/js/imageGallery.js}"></script>
  		<script type="text/javascript" th:src="@{/js/userValidation.js}"></script>
  		<script type="text/javascript" th:src="@{/js/jquery.inputmask.min.js}"></script>
  		<link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}"/>
  		<title>OTTOMOTO</title>
</head>
