<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div th:replace="fragments/breadcrumb :: breadcrumb">
</div>
<div class="container ">
    <div class="row my-5">
        <div class="col-5 col-md-3 align-middle">
            <a class="settings-big-button align-middle" style="vertical-align: center" th:href="@{/announcement/list}">
                <span class="w-100 text-center">announcements</span>
            </a>
        </div>
        <div class="col-5 col-md-3">
            <a class="settings-big-button" th:href="@{/manufacturer/list}">
                <span class="w-100 text-center">car brands and models</span>
            </a>
        </div>
        <div class="col-5 col-md-3">
            <a class="settings-big-button" th:href="@{/user/list/}">
                <span class="w-100 text-center">users</span>
            </a>
        </div>
        <div class="col-5 col-md-3">
            <a class="settings-big-button" th:href="@{/system/settings}">
                <span class="w-100 text-center">system settings</span>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
