@charset "UTF-8";

body {
	margin: 0px;
}

.header-style {
	height: 50px;
	width: 100%;
}

a {
	text-decoration: none;
}

.footer-style {
	height: 50px;
	width: 100%;
	background-color: #2e3968;
}

.search-fragment {
	height: 50px;
	width: 100%;
	background-color: #2e3968;
}

.remove-link-decoration {
	text-decoration: none;
}

.main-header-buttons {
	width: 60px;
	padding: 10px;
	position: relative;
	top: 16px;
	color: white;
	background-color: #2e3968;
}

.customerRegistrationForm table tr td:nth-child(3) {
  	width:180px;
 }
.customerRegistrationForm p {
  	margin: 0px;
  	font-size: 12px;
 }
 
.announcement-edit-form,
.registration-login-form {
 	min-height:400px; 
 	text-align:center; 
 	width:100%; 
 	margin: auto;
}
.announcement-edit-form table {
	margin: auto;
}
 
 }