<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  		<meta charset="utf-8">
  		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  		
  		
  		<title>Customer registration</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/search :: search">
    </div>
    <div style="height:400px; text-align:center; width:100%; margin: auto;">
    
		<form class="customerRegistrationForm" th:action="@{/customer/registration}" th:object="${customer}" method="post">
			<table style="text-align:left; margin: auto; margin-top:20px; ">
				<tr>
					<td><label for="login">login</label></td>
					<td><input id="login" type="text" th:field="*{login}" size="50" /></td>
						<td>
					 <span th:if="${loginAlreadyExists}" th:text="#{loginAlreadyExists}"></span>
					  <span th:each="error: ${#fields.errors('login')}"
         				 th:text="${login}">Validation error</span>
				</td>
				</tr>
							<tr>
				<td><label for="password">hasło</label></td>
				<td><input id="password" type="password" th:field="*{password}"
					size="50" /></td>
				<td>
				     <span th:each="error: ${#fields.errors('password')}"
         				 th:text="${password}">Validation error</span>
				</td>
			</tr>
			<tr>
				<td><label for="passwordConfirm">powtórz hasło</label></td>
				<td><input id="passwordConfirm" type="password" th:field="*{passwordConfirm}"
					size="50" /></td>
				<td>
				     <span th:if="${passwordsAreNotSame}" th:text="#{passwordsAreNotSame}" ></span>
				     <span th:each="error: ${#fields.errors('password')}"
         				 th:text="${password}">Validation error</span>
				</td>
			</tr>
			<tr>
				<td><label for="email">email</label></td>
				<td><input id="email" type="email" th:field="*{email}"
					size="50" /></td>
				<td style="width:100px;">
					  <span th:if="${emailAlreadyExists}" th:text="#{emailAlreadyExists}"></span>
					  <span th:each="error: ${#fields.errors('email')}"
         				 th:text="${error}">Validation error</span>
				
				</td>
				<tr>
					<td></td>
					<td  style="text-align: right;"><a class="remove-link-decoration" style="color:black;" th:href="@{/}">wstecz</a><input style="margin-left:10px;" type="submit" value="zapisz" /></td>
					<td></td>
				</tr>
			</table>
		
		</form>
		
    </div>
     <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>