<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  		<meta charset="utf-8">
  		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  		
  		
  		<title>Customer registration</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/search :: search">
    </div>
    <div style="height:400px; text-align:center; width:100%; margin: auto;">
    	
		<form class="customerRegistrationForm" th:action="@{/customer/registration}" th:object="${customer}" method="post">
		<!-- <span th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Incorrect date</span>
		 -->
<!-- 			     <p th:each="error: ${#fields.errors('password')}"
         				 th:text="${password}">Validation error</p> -->
         				 
         	<p th:if="${#fields.hasErrors('password')}"
         				 th:text="${password}">Validation error</p>
		
			<table style="text-align:left; margin: auto; margin-top:20px; ">
				<tr>
					<td><label for="login">login</label></td>
					<td><input id="login" type="text" th:field="*{login}" size="30" /></td>
						<td>
					 <p th:if="${loginAlreadyExists}" th:text="#{loginAlreadyExists}"></p>
					  <p th:each="error: ${#fields.errors('login')}"
         				 th:text="${error}">Validation error</p>
				</td>
				</tr>
							<tr>
				<td><label for="password">hasło</label></td>
				<td><input id="password" type="password" th:field="*{password}"
					size="30" /></td>
				<td>
				     <p th:each="error: ${#fields.errors('password')}"
         				 th:text="${error}">Validation error</p>
				</td>
			</tr>
			<tr>
				<td><label for="passwordConfirm">powtórz hasło</label></td>
				<td><input id="passwordConfirm" type="password" th:field="*{passwordConfirm}"
					size="30" /></td>
				<td>
				     <p th:if="${passwordsAreNotSame}" th:text="#{passwordsAreNotSame}" ></p>
				</td>
			</tr>
			<tr>
				<td><label for="email">email</label></td>
				<td><input id="email" type="email" th:field="*{email}"
					size="30" /></td>
				<td style="width:100px;">
					  <p th:if="${emailAlreadyExists}" th:text="#{emailAlreadyExists}"></p>
					  <p th:each="error: ${#fields.errors('email')}"
         				 th:text="${error}">Validation error</p>
				
				</td>
				<tr>
					<td></td>
					<td  style="text-align: right;"><a class="remove-link-decoration" style="color:black;" th:href="@{/}">wstecz</a><input style="margin-left:10px;" type="submit" value="zapisz" /></td>
					<td></td>
				</tr>
				<tr>
			<!-- 	<td>
					     <p th:each="e : ${#fields.detailedErrors()}" >
		            	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
					            <span th:text="${e.message}">The error message</span>
		      	 	 </p>
		      	 	 </td>
				</tr>  -->
			</table>
		
		</form>
		
    </div>
     <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>